<html>
<body>
    <div><a href="/"><- back to Notes list</a></div>
    <div></div>
    <div>Edit Note</div>
    <div>
        <form method="post" action="update">
            <div><input type="hidden" name="id" value="{{id}}"/></div>
            <div><input type="text" name="updatedHeader" placeholder="Enter header" value="{{header}}"/></div>
            <div><textarea name="updatedNote" placeholder="Enter note">{{note}}</textarea></div>
            <div><button type="submit">Save</button></div>
        </form>
    </div>
</body>
</html>