<html>
<body>
<div><b>Create Note</b></div>
    <div>
        <form method="post" action="add">
            <div><input type="text" name="header" placeholder="Enter header"/></div>
            <div><textarea name="note" placeholder="Enter note"></textarea></div>
            <div><button type="submit">Add</button></div>
        </form>
    </div>
<div><b>Notes list</b></div>
    <form method="post" action="filter">
        <input type="text" name="text" placeholder="Text to find" {{#foundBy}}value="{{foundBy}}"{{/foundBy}}/>
        <button type="submit">Find</button>
    </form>
    {{#foundBy}}
    <div>
        <b>Found by '{{foundBy}}'.</b> <a href="/">Reset filter</a>
    </div>
    {{/foundBy}}
    {{#notes}}
    <div><b>id:{{id}}</b>
        <span>{{headerOrNote}}</span>
        <a href="edit?id={{id}}">Edit</a> <a href="delete?id={{id}}">Delete</a>
    </div>
    {{/notes}}
</body>
</html>