<html>
<body>
    <div>
        <form method="post">
            <input type="text" name="name" placeholder="Enter name of note:"/>
            <input type="text" name="note" placeholder="Enter note"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Notes list</div>
    {{#notes}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}<span>
    </div>
    {{/notes}}
</body>
</html>