<html>
<body>
    <div>Create Note</div>
    <div>
        <form method="post" action="add">
            <div><input type="text" name="name" placeholder="Enter name"/></div>
            <div><textarea name="note" placeholder="Enter note"/></textarea></div>
            <div><button type="submit">Add</button></div>
        </form>
    </div>
    <div>Notes list</div>
    <form method="post" action="filter">
        <input type="text" name="text" placeholder="Text to find" {{#foundBy}}value="{{foundBy}}"{{/foundBy}}/>
        <button type="submit">Find</button>
    </form>
    {{#foundBy}}
    <div>
        Found by '{{foundBy}}'
    </div>
    {{/foundBy}}
    {{#notes}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}<span>
    </div>
    {{/notes}}
</body>
</html>